<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="dff-cordova-plugin-ipaddress"
    version="1.1.0">

    <name>IpAddress</name>
    <description>IP Address detection plugin</description>
    <license>Apache 2.0</license>
    <author>dff</author>
    <keywords>ip,address,cordova,plugins</keywords>

    <js-module src="www/IpAddress.js" name="IpAddress">
        <clobbers target="window.IpAddress"/>
    </js-module>

    <dependency id="dff-cordova-plugin-common" url="https://github.com/dff-solutions/dff.CordovaPlugin.Common.git"/>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IpAddress">
                <param name="android-package" value="de.dff.cordova.plugins.IpAddress"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        </config-file>

        <source-file src="src/android/de/dff/cordova/plugins/IpAddress.java" target-dir="src/de/dff/cordova/plugins"/>
    </platform>

</plugin>

